autom4te.cache
subst
summary
*Makefile
config.log
config.status
scripts/rc.npcd
scripts/rc.pnp_gearman_worker
scripts/check_pnp_rrds.pl
scripts/process_perfdata.pl
scripts/rrd_modify.pl
src/*.o
src/npcd
include/config.h
*~

sample-config/pnp/config.php
sample-config/pnp/pnp4nagios_release
sample-config/pnp/process_perfdata.cfg-sample
sample-config/pnp/npcd.cfg-sample
sample-config/misccommands.cfg-sample
sample-config/nagios.cfg-sample

share/pnp/application/config/config.php
share/pnp/index.php
share/pnp/install.php
sample-config/httpd.conf
share/pnp/application/logs/*
contrib/ssi/status-header.ssi
helpers/w2h.pl
scripts/verify_pnp_config.pl
sample-config/lighttpd.pnp4nagios.conf
sample-config/nginx.pnp4nagios.conf
share/pnp/media/js/basket.js
scripts/rrd_convert.pl
scripts/rrd_converter.pl

man/npcd.8
