body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	background-color: #ffffff;
	color: #000000;
	height: 100%;
}

table.body {
	border-spacing:  0px;
}

a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

a.active { color: #88cc00; }

.gw {
	min-width: 600px;
}

.gh {
	min-height: 150px;
}


div.right {
	width: 200px;
	margin-top: 4px;
	padding: 4px;
}

div.left {
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 0px; 
}

.cb {
	clear: both;
}

.cl {
	clear: left;
}

.cr {
	clear: right;
}

img {
	border: none;
}

input.textbox {
	width: 97%;
}

.b1 {
	border: solid #FE880F;
	border-width: 1px;
}
.b0 {
	border-width: 0px;
}
.w32 {
	width: 32%;
}
.w66 {
	width: 66%;
}
.w90 {
	width: 90%;
}
.w99 {
	width: 99%;
}
.w98 {
	width: 98%;
}
.w100 {
	width: 100%;
}

.p2 {
	padding: 2px;
}
.p4 {
	padding: 4px;
}
.multi0 {
	padding-left:14px;
	background: url(../images/int.gif) no-repeat left;
}
.multi1 {
	padding-left:14px;
}
.multi2 {
	padding-left:14px;
	margin-left:8px;
}
a.active {
	background: url(../images/int.gif) no-repeat left;
}
a.inactive {
	background: url(../images/int2.gif) no-repeat left;
}
div.header {
	margin-top: 2px;
	padding: 2px;
	background-color: #c5d8d1;
}

div.pagebody {
	display: block;
	float: left;
	padding: 4px;
}

div.logo {
	padding: 6px;
	text-align: center;
	vertical-align: center;
}
